<h2 id="title" data-id="<%= post.get("id") %>"><%= post.get("title") %></h2>
<p id="body" data-id"<%= post.get("id") %>" ><%= post.get("body") %></p>

<a href="#" class="back">Back to Index</a>
<a href="#posts/<%= post.get("id")%>/edit">Edit this Post</a>